ul.multiSelect{
    list-style-type: none !important;
}
div.multiSelectContextMenu{
    border: black solid 1px;
    position: absolute;
    left: 0.5em;
    top: 2em;
    background: inherit;
    background-color: whitesmoke;
    opacity: 0.98;
}
.hidden{
    display: none;
}
.otherContent{
    height: 20em;
    margin: 1em;
    width: 98%;
    background-color: lightskyblue;
}
.filterInput{
    margin: 0.2em;
}